<a href="https://colab.research.google.com/github/nampally-achyuth/achyuth/blob/main/week7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Colab!

In [ ]:
class robot:
  company='robottech'
  def __init__(self,name,model):
    self.name=name
    self.model=model
  def display(self):
    print("company Name:",robot.company)
    print("Name:",self.name)
    print("Model:",self.model)
r1=robot("alpha","R100")
r2=robot("beta","R200")
r1.display()
print()
r2.display()

company Name: robottech
Name: alpha
Model: R100

company Name: robottech
Name: beta
Model: R200

In [ ]:
class ATM:
  bank_name="kotak mahindra bank"
  def __init__(self,name,account_no,balance):
    self.name=name
    self.account_no=account_no
    self.balance=balance
  def showdetails(self):
    print("Bank Name:",ATM.bank_name)
    print("Name:",self.name)
    print("Account No:",self.account_no)
    print("Balance:",self.balance)
achyuth=ATM("Achyuth",9392123562,700)
Manjula=ATM("Manjula",846688507,1000)
achyuth.showdetails()
print()
Manjula.showdetails()

Bank Name: kotak mahindra bank
Name: Achyuth
Account No: 9392123562
Balance: 700

Bank Name: kotak mahindra bank
Name: Manjula
Account No: 846688507
Balance: 1000

In [4]:
class abc:
  def __init__(self,var1,var2):
    self.var1=var1
    self.__var2=var2
  def display(self):
    print("from class method ,var1=",self.var1)
    print("from class method ,var2=",self.__var2)
obj=abc(10,20)
obj.display()
print("From main modele var 1=",obj.var1)
print("From main module var 2=",obj.__var2)

from class method ,var1= 10
from class method ,var2= 20
From main modele var 1= 10

AttributeError: 'abc' object has no attribute '__var2'

In [ ]:
class abc:
  def __init__(self,var):
    self.var=var
  def display(self):
    print("var is =",self.var)
obj=abc(10)
obj.display()
print("Check if the object  has the attributes for var.....",hasattr(obj,'var'))
getattr(obj,'var')
setattr("After setting  values,var is :",obj.var)
setattr(obj,'var',100)
print("After setting values ,var is :",obj.var)
setattr(obj,'count',10)
print("New variables count is  created and its value is :",obj.count)
delattr(obj,'count')
print("After deleting the attribute,var  is :",obj.count)
print("Check if the object has attributes  count.........",hasattr(obj,'count'))