<a href="https://colab.research.google.com/github/nampally-achyuth/achyuth/blob/main/week7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Colab!

In [ ]:
class robot:
  company='robottech'
  def __init__(self,name,model):
    self.name=name
    self.model=model
  def display(self):
    print("company Name:",robot.company)
    print("Name:",self.name)
    print("Model:",self.model)
r1=robot("alpha","R100")
r2=robot("beta","R200")
r1.display()
print()
r2.display()

company Name: robottech
Name: alpha
Model: R100

company Name: robottech
Name: beta
Model: R200

In [ ]:
class ATM:
  bank_name="kotak mahindra bank"
  def __init__(self,name,account_no,balance):
    self.name=name
    self.account_no=account_no
    self.balance=balance
  def showdetails(self):
    print("Bank Name:",ATM.bank_name)
    print("Name:",self.name)
    print("Account No:",self.account_no)
    print("Balance:",self.balance)
achyuth=ATM("Achyuth",9392123562,700)
Manjula=ATM("Manjula",846688507,1000)
achyuth.showdetails()
print()
Manjula.showdetails()

Bank Name: kotak mahindra bank
Name: Achyuth
Account No: 9392123562
Balance: 700

Bank Name: kotak mahindra bank
Name: Manjula
Account No: 846688507
Balance: 1000

In [ ]:
class ATM:
  bank_name="kotak mahindra bank"
  def __init__(self,name,account_no,balance):
    self.name=namse
    self.account_no=account_no
    self.balance=balance
  def showdetails(self):
    print("Bank Name:",ATM.bank_name)
    print("Name:",self.name)
    print("Account No:",self.account_no)
    print("Balance:",self.balance)
achyuth=ATM("Achyuth",9392123562,700)
Manjula=ATM("Manjula",846688507,1000)
achyuth.showdetails()
print()
Manjula.showdetails()